# Lab | Inferential statistics - T-test & P-value

### Instructions

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy.stats import chi2_contingency
from scipy.stats.contingency import association
import statsmodels.api as sm
import scipy.stats as stats
import scipy.stats as st 
import chardet

In [2]:
file = open('machine.txt', 'rb').read() # opening the file in binary, as bytes
result = chardet.detect(file) # detecting the type of encoding
encoding = result['encoding'] # saving the results

# opening the dataframe
df = pd.read_fwf('machine.txt', encoding=encoding)
df.head(10)

   New machine   Old  machine
0         42.1  42.7      NaN
1         41.0  43.6      NaN
2         41.3  43.8      NaN
3         41.8  43.3      NaN
4         42.4  42.5      NaN
5         42.8  43.5      NaN
6         43.2  43.1      NaN
7         42.3  41.7      NaN
8         41.8  44.0      NaN
9         42.7  44.1      NaN

In [3]:
"""
nombre_archivo = 'machine.txt'

with open(nombre_archivo, 'rb') as f:
    result = chardet.detect(f.read())
    codificacion_detectada = result['encoding']

df = pd.read_csv(nombre_archivo, delimiter='\t', encoding=codificacion_detectada)

df
"""

"\nnombre_archivo = 'machine.txt'\n\nwith open(nombre_archivo, 'rb') as f:\n    result = chardet.detect(f.read())\n    codificacion_detectada = result['encoding']\n\ndf = pd.read_csv(nombre_archivo, delimiter='\t', encoding=codificacion_detectada)\n\ndf\n"

In [4]:
df.columns

Index(['New machine', 'Old', 'machine'], dtype='object')

In [6]:
t_statistic, p_value = stats.ttest_rel(df['New machine'], df['Old'])


print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: -3.0614273841115844
P-Value: 0.013540335651632521

In [7]:
alpha=0.05

In [8]:
if p_value > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

We reject the null hypotesis

In [10]:
df['Old'].mean()

43.230000000000004

In [11]:
df['New machine'].mean()

42.14

2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances.
   Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file `files_for_lab/student_gpa.txt`.
   At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

   Test statistics can be calculated as: [link to the image - Test statistics calculation for Unpooled Variance Case](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.04/7.04-unpooled_variances.png)

   Degrees of freedom is `(n1-1)+(n2-1)`

In [17]:
file = open('student_gpa.txt', 'rb').read() # opening the file in binary, as bytes
result = chardet.detect(file) # detecting the type of encoding
encoding = result['encoding'] # saving the results

# opening the dataframe
df = pd.read_fwf('student_gpa.txt', encoding=encoding)
df.head(10)

   Sophomores  Juniors
0        3.04     2.56
1        1.71     2.77
2        3.30     2.70
3        2.88     3.00
4        2.11     2.98
5        2.60     3.47
6        2.92     3.26
7        3.60     3.20
8        2.28     3.19
9        2.82     2.65

In [18]:
df1.columns

Index(['Sophomores', '  Juniors'], dtype='object')

In [14]:
#mean_juniors = df1['  Juniors'].mean()

In [15]:
#df1['  Juniors'].fillna(mean_juniors, inplace=True)

In [19]:
from scipy.stats import ttest_ind

#t_statistic, p_value = stats.ttest_rel(df1['Sophomores'], df1['  Juniors'], equal_var=False)
t_statistic, p_value = st.ttest_ind(df1["Sophomores"], df1['  Juniors'], equal_var=False, nan_policy='omit' )

print("T-Statistic:", t_statistic)
print("P-Value:", p_value)


alpha = 0.05  
if p_value < alpha:
    print("There is sufficient evidence to conclude that the mean GPAs of sophomores and juniors differ.")
else:
    print("There is not enough evidence to conclude that the mean GPAs of sophomores and juniors differ.")

T-Statistic: -0.9231495630900278
P-Value: 0.3642180675348571
There is not enough evidence to conclude that the mean GPAs of sophomores and juniors differ.